doctype html
html(lang='pt_BR')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='../../favicon.ico')
    title Você se importa?

    link(href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css', rel='stylesheet')
    link(href='stylesheets/style.css', rel='stylesheet')

  body(class=instituicao ? "instituicao" : undefined)
    .site-wrapper
      .site-wrapper-inner
        .cover-container
          .masthead.clearfix
            .inner
              h3.masthead-brand
              ul.nav.masthead-nav
                li.active: a(href='#') Home
                li: a(href='#projetos') Projetos
                li: a(href='#quemsomos') Quem somos
                li: a(href='#contato') Contato

          .inner.cover
            - if (instituicao)
              p: img(src='#{instituicao.logotipo_url}')
              h1.cover-heading Você se importa com #{tag}?
              p.lead
                | #{instituicao.descricao}
              p.lead
                a.btn.btn-lg.btn-default(href='#{instituicao.url}') Conheça a #{instituicao.nome}
            - else
              h1 (´・︹ ・` )
              h3.cover-heading Nenhuma instituição cadastrada para essa categoria.
          .mastfoot
            .inner
              p um projeto &nbsp;
                a(href='http://99limits.com') 99limits

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
